/* Global */
.App {
	/*text-align: center;*/
	margin: auto;
	width: 90%;
}

.client_header {
	background-color: #282c34;
	/*min-height: 100vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
  
.client_header a {
	color: white;
}

.dig_header {
	background-color: #282c34;
	/*min-height: 100vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.dig_header a {
	color: white;
}


/* List of all companies page */
.company_list_container {
	text-align: center;
}

.company_cards_container {
	margin: 15px 5px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#create_company_button {
	color: white;
	font-size: large;
	font-weight: 400;
	text-decoration: none;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
	margin-left: 20px;
	border: 5px solid white;
}

.company_cards_container a {
	color: black;
	text-decoration: none;
}

.company_card {
	background-color: lightgrey;
	text-align: left;
	width: 350px;
	border: 1px solid black;
	margin: 15px;
	padding: 5px;
	/*display: flex;
	flex-wrap: wrap;*/
}

.company_card div {
/*	display: flex;
	flex-direction: row;
	justify-content: space-around;*/
}

.company_card button {
	width: 200px ;
	padding: 5px 20px;

}

@media only screen and ( max-width: 600px ) {
	.company_card div {
		flex-direction: column;
	}
}

input {
	width: 50%;
	height: 20px;
	background-color: lightgrey;
	box-shadow: 5px 5px 5px black;
	font-size: large;
}

#notes {
	border: 2px solid black;
	padding: 3px;
	border-radius: 3px;
	background-color: white;
}




/* Single Company Card */
.company {
	border: 2px solid black;
	margin: 15px;
	padding: 10px 30px;
	text-align: left;
	background-color: #7FB38E;
	width: 70%;
}

blockquote {
	background-color: lightgrey;
	padding: 5px;
	border: 1px solid black;
	/*width: 60%;*/
}

.company nav {
	margin-top: 10px;
	text-align: center;
}

.company a {
	text-decoration: none;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
	box-shadow: 5px 5px 8px lightblue;
}

.employee_list {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
}

.employee_list p {
	border: 1px solid black;
	background-color: lightgrey;
	padding: 5px;
}

.employee_list b {
	margin-right: 20px;
}

.notes {
	min-height: 100px;
	max-height: 150px;
	overflow: scroll;
	display: block;	
	margin-bottom: 20px;
}

#primary-contact {
	margin-left: 10px;
	width: 20px;
	height: 20px;

}




/* Create company page / form */
.company input {
	margin-bottom: 25px;
	padding-left: 45px;
	width: 90%;
	height: 30px;
}

.company label {
	font-weight: bold;
}

.company textarea {
	width: 90%;
	background-color: lightgrey;
	height: 80px;
	box-shadow: 5px 5px 5px black;
	border: 2px solid black;
}

button {
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
	height: 50px;
}

.company button {
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: 5px 5px 8px lightblue;
}

#clearDraftOrder {
	position: absolute;
	bottom: 5px;
	right: 15px;
}

.company h2 {
	margin-top: 80px;
	margin-bottom: 0px;
	font-weight: 800;
}

.company hr {
	height: 5px;
	background-color: black;
}



/* Add employee page. This is linked to from the company page. */
#employee_button {
	margin-left: 2%;
	text-decoration: none;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
	box-shadow: 5px 5px 8px lightblue;
}

#create_employee_button {
	margin-left: 30px;
	position:  relative;
	top: 2px;
}

#companyH2 {
	margin-bottom: 30px;
}



/* Products, Product Collections etc... */
nav a {
	text-decoration: none;
	font-size: 3vw;
	color: black;
}

#nextPageButton {
	margin-bottom: 5px;
	margin-right: 10px;
}

.product_collections {
	border: 2px solid green;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
}

.product_collections a {
	text-decoration: none;
	color: black;
	width: 300px;
	background-color: #7FB38E;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

.product_collections a:hover {
	background-color: yellow;
}

#product_search {
	margin-left: 30px;
	margin-bottom: 20px;
}


/* Product Collection and Collections nav */
#variant_container {
	position: relative;
	border: 1px solid black;
	background-color: lightgrey;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}

#draftOrderButton {
	position: absolute;
	right: 70px;
	top: 5px;
}

.collectionLinks {
	margin-right: 30px;
	background-color: #7FB38E;
	padding: 5px;
	border-radius: 5px;
	border: 4px solid white;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	/*box-shadow: 0 3px 0 0 black;*/
}

.collection_products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #7FB38E;
	padding: 20px;
}

.collection_product {
	width: 300px;
	height: auto;
	padding: 5px;
	border: 2px solid black;
	/*border-bottom: 5px solid black;*/
	background-color: white;
	margin: 5px;
	position: relative;
}

.collection_product button {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.collection_product img {
	width: 40%;
	margin-bottom: 60px;
}

.collection_product a {
	text-decoration: none;
}

.product_image {
	width: 200px;
}

.add_to_order {
	display: flex;
	flex-direction: column;
	width: 300px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px 5px 10px 5px;
	background-color: white;
}

.client_cost {
	border: 1px solid black;
	width: 200px;
	text-align: center;
	background-color: rgba(140, 255, 26, .5);
	font-size: 20px;
	box-shadow: 4px 4px 4px black;
}

.product_quantity {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 20px;
	border: 1px solid black;
	width: 150px;
	text-align: center;
	background-color: rgba(140, 255, 26, .5);
	box-shadow: 4px 4px 4px black;
}

.inside_order_box {
	flex-direction: column;
}

.popUp {
	visibility: hidden;
	position: absolute;
	top: 40%;
	left: 20%;
	background-color: grey;
	padding: 50px;
	border: solid 2px black;
}

.show {
	visibility: visible;
	position: absolute;
	top: 40%;
	left: 20%;
	background-color: grey;
	padding: 50px;
	border: solid 2px black;
}


/* Client landing page */
.client_vitals {
	border: 1px solid black;
	margin-top: 30px;
	padding: 10px;
	background-color: lightgray;
}

.client_vitals h1 {
	background-color: #7FB38E;
	padding: 5px;
	border: 1px solid black;
}


/* Prodcut Page */
.quantity {
	margin: 5px;
}

#productDraftOrder {
	display: flex;
}

.draftOrderBox {
	border: 2px solid black;
	width: 90%;
	height: auto;
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 50px;
	background-color: #7FB38E;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	min-height: 300px;
}

.currentOrder {
	margin: 10px;
	margin-top: 40px;
	border: 2px solid black;
	padding: 5px;
	width: 200px;
	height: 300px;
	background-color: lightgray;
}

.currentOrder h4 {
	margin-top: 2px;
	margin-bottom: 2px;
}

#currentDraftOrderH2 {
	/* position: relative;
	left: 20%; */
	margin-left: 30%;
}

.currentOrder p {
	margin: 0;
}

#removeItemButton {
	height: 40px;
	margin-top: 10px;
}


/* Sign in sign up page */
#username {
	margin-bottom: 20px;
}

.sign_in_sign_up {
	border: 1px solid black;
	margin-top: 30px;
	padding: 10px;
	background-color: lightgray;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sign_in_sign_up form input {
	width: 350px;
}

#password {
	margin-left: 5px;
}

.client_employee {
	display: flex;
}

.client_employee button {
	margin: 10%;
	justify-content: center;
	flex-direction: row;
}