/* Global */

/* List of all companies page */
.company-cards-container {
	margin: 15px 5px;
	text-align: center;
}

#create_company_button {
	color: white;
	font-size: large;
	font-weight: 400;
	text-decoration: none;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
	margin-left: 20px;
	border: 5px solid white;
}

.company-cards-container a {
	color: black;
	text-decoration: none;
}

.company-card {
	border: 1px solid black;
	background-color: lightgrey;
	margin: 15px;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.company-card div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.company-card button {
	width: 200px ;
	padding: 5px 20px;

}

@media only screen and ( max-width: 600px ) {
	.company-card div {
		flex-direction: column;
	}
}

input {
	width: 50%;
	height: 20px;
	background-color: lightgrey;
	box-shadow: 5px 5px 5px black;
	font-size: large;
}



/* Single Company Card */
.company {
	border: 2px solid black;
	margin: 15px;
	padding: 10px 30px;
	text-align: left;
	background-color: #7FB38E;
}

blockquote {
	background-color: lightgrey;
	padding: 5px;
	border: 1px solid black;
}

.company nav {
	margin-top: 10px;
	text-align: center;
}

.company a {
	text-decoration: none;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
	box-shadow: 5px 5px 8px lightblue;
}

.employee_list {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}

.employee_list p {
	border: 1px solid black;
	background-color: lightgrey;
	padding: 5px;
	/*width: 40%;*/
}

.employee_list b {
	margin-right: 20px;
}

/* Create company page / form */
.company input {
	margin-bottom: 25px;
	padding-left: 45px;
	width: 90%;
	height: 30px;
}

.company label {
	font-weight: bold;
}

.company textarea {
	width: 90%;
	background-color: lightgrey;
	height: 80px;
	box-shadow: 5px 5px 5px black;
	border: 2px solid black;
}

button {
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
}

.company button {
	margin-top: 20px;
	box-shadow: 5px 5px 8px lightblue;
}

.company h2 {
	margin-top: 80px;
	margin-bottom: 0px;
	font-weight: 800;
}

.company hr {
	height: 5px;
	background-color: black;
}

/* Add employee page. This is linked to from the company page. */
#employee_button {
	margin-left: 2%;
	text-decoration: none;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: #23453D;
	padding: 8px 15px;
	border-radius: 5px;
	box-shadow: 5px 5px 8px lightblue;
}